@import url('https://fonts.cdnfonts.com/css/montserrat');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #141414 !important;
    color: #ffffff;
}
.espacamento{
    margin: 1.875rem;
}

main{margin: 1.875rem;}

header{
    border: solid 1px #d9ae53;
    background-color: #050404;
    text-align: center;
    padding: 0.313rem; 
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.logo{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5vh;
}

.logoescudo{
    width: 7vw;
    height: auto;
    margin-right: 0.625rem;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

header h1{
    font-size: 2.5rem;
    color: #d9ae53;
}

.mundial {
    color: #ffffff; /* Ajuste da cor para branco */
    font-size: 2rem;
}

nav {
    
    margin: 1% auto;
    border: solid 1px #d9ae53;
    background-color: #050404;
    border-radius: 0.5rem;
    padding: 0.938rem 0;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
    gap: 4vw;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li img{
    width: 1.875rem;
    height: auto;
    margin-right: 0.313rem;
}

nav ul li a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #d9ae53;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover{
    color:#f3b229 ;
}

section{
    height: auto;
    margin: 1% auto;
    border-radius: 0.5rem;
    border:solid 1px #d9ae53;
    background-color: #050404;
    color:#d9ae53;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.938rem;
}

section p{
    width: 90%;
    color: #ffffff;
}

.inicio{
    height: auto;
    margin: 1% auto;
    border-radius: 0.5rem;
    border:solid 1px #d9ae53;
    background-color: #050404;
    color:#d9ae53;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.938rem;
}

.inicio p{
    width: 90%;
    color: #ffffff;
}

.janelas{
    margin-top: 1% ;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.25rem;
    }

.formato, .prestigio{
    width: 49.3%;
    height: auto;
    border-radius: 0.5rem;
    border:solid 1px #d9ae53;
    background-color: #050404;
    color:#d9ae53;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.938rem;
    position: relative;
    min-height: 27vh;
    }

.formato p{
        color: #ffffff;
        width: 90%;
        font-size: 1.5rem;
    }

    .prestigio p{
        color: #ffffff;
        width: 90%;
        font-size: 1.5rem;
    }

.formato img, .prestigio img, .historia img{
    width: 2.5rem;
    height: auto;
    margin-bottom: 0.625rem;
    position: static;
    left: auto;
    top:auto;
}

.formato-titulo, .prestigio-titulo, .historia-titulo{
    display: flex;
    flex-direction: row;
}

.baloes{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    justify-content: center;
    gap: 0.625rem;
    width: 100%;
}

.balao1, .balao2{
    width: 42%;
    background-color: #141414;
    border:solid 1px #d9ae53;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.938rem;
}

.historia{
    height: auto;
    margin: 1% auto;
    border-radius: 0.313rem;
    border:solid 1px #d9ae53;
    background-color: #050404;
    color:#d9ae53;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.938rem;
}

.historia p{
    color: #ffffff;
    width: 90%;
}

footer{
    width: 100%;
    height: auto;
    color: #d9ae53;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vh;
    margin-top: 1%;
    align-items: center;
    border:solid 1px #d9ae53;
    background-color: #050404;
}

.footer-content{
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
}

.footer-trofeu{
    width: 1.5vw;
    height: auto;
    margin-bottom: 0.625rem;
}

footer p{
    color: #ffffff;
    text-align: center;
}

/*Responsividade*/

@media(max-width: 768px){
    .header-content{
        flex-direction: column;
    }
    .logoescudo{
        width: 15vw;
    }
    header h1{
        font-size: 1.8rem;
    }
    .formato, .prestigio{
        width: 45%;
    }
    .mundial{
        font-size: 1.5rem;
    }
    nav{
        height: auto;
        padding: 0.625rem 0;    
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
    }
    .janelas{
        flex-direction: column;
        align-items: center;
    }

    .formato, .prestigio, .historia{
        width: 90%;
        margin-bottom: 1.25rem;
    }

}
@media(max-width: 1489px ){
    .header-content{
        flex-direction: column;
    }
    .logoescudo{
        width: 15vw;
    }
    header h1{
        font-size: 1.8rem;
    }
    .formato, .prestigio{
        width: 45%;
    }
    .mundial{
        font-size: 1.5rem;
    }
    nav{
        height: auto;
        padding: 0.625rem 0;    
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
    }
    .janelas{
        flex-direction: column;
        align-items: center;
    }

    .formato, .prestigio, .historia{
        width: 90%;
        margin-bottom: 1.25rem;
    }
    .balao1, .balao2{
        width: 100%;
        margin-bottom: 0.625rem;
    }


}