@import url('https://fonts.cdnfonts.com/css/montserrat');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #141414 !important;
    color: #ffffff;
}
.espacamento{
    margin: 1.875rem;
}
main{
    margin: 1.875rem;
}

header{
    border: 0.1rem solid #d9ae53;
    background-color: #050404;
    text-align: center;
    padding: 0.3125rem; 
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5vh;
}

.logoescudo{
    width: 5vw; /*5 de vw a logo não aumenta a caixa*/
    height: 5vw; /*5 de vw a logo não aumenta a caixa*/
    margin-right: 0.625rem;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

header h1{
    font-size: 2.5rem;
    color: #d9ae53;
}

.mundial {
    color: #ffffff; /* Ajuste da cor para branco */
    font-size: 2rem;
}

nav {
    margin: 1% auto;
    border: 0.1rem solid #d9ae53;
    background-color: #050404;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5vh;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
    gap: 4vw;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav ul li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

nav ul li img{
    width: 2vw;
    height: auto;
    margin-right: 0.3125rem;
    vertical-align: middle;
}

nav ul li a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #d9ae53;
    transition: color 0.3s ease-in-out;
    line-height: 1;
}

nav ul li a:hover{
    color:#f3b229 ;
}

section{
    height: auto;
    margin: 1% auto;
    border-radius: 0.5rem;
    border:0.1rem solid #d9ae53;
    background-color: #050404;
    color:#d9ae53;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 0.9375rem;
}

.compromisso{
    height: auto;
    margin: 1% auto;
    border-radius: 0.5rem;
    border:0.1rem solid #d9ae53;
    background-color: #050404;
    color:#ffffff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.9375rem;
}

.compromisso h2{
    color:#d9ae53;
    font-size: 2rem;
}

.alinhamento_norma, .alinhamento_privacidade, .alinhamento_responsabilidade{
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}

.alinhamento_coracao{
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    text-align: left;
}

.alinhamento_responsabilidade img{
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 2rem;
}

.alinhamento_coracao img{
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 2rem;
}

.alinhamento_privacidade img{
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 2rem;
}

.alinhamento_norma img{
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 2rem;
}

.titulo_caixa_mae_normas {
    width: 100%;
    text-align: left;
    align-items: flex-start;
    margin-left: 0.625rem;
}

.titulo_caixa_mae_normas p {
    color: #ffffff;
    margin-left: 0.9375rem;
}

.livro{
    width: 3.125rem;
    height: auto;
    margin-bottom: 0.625rem;
}

.caixas_conduta{
    background-color: #050404;
    color:#d9ae53;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.box_normas{
    height: 18vh;
    width: 25vw;
    margin: 1% auto;
    border-radius: 0.5rem;
    border:0.1rem solid #d9ae53;
    background-color: #050404;
    color:#ffffff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 0.9375rem;
}

.box_normas h2{
    color:#d9ae53;
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
}

.titulo_caixa_mae_privacidade {
    width: 100%;
    text-align: left;
    align-items: flex-start;
    
}
.escudo{
    width: 2.604vw;
    height: auto;
    margin-bottom: 0.625rem;
}

.titulo_caixa_mae_privacidade p {
    color: #ffffff;
    margin-left: 2.8125rem;
}

.caixas_privacidade{
    background-color: #050404;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.box_privacidade{
    border-radius: 0.5rem;
    border:0.1rem solid #d9ae53;
    background-color: #050404;
    color:#ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box_privacidade p{
    display: flex;
    text-align: left;
}

.box_privacidade h2{
    color:#d9ae53;
    display: flex;
    justify-content: left;
    font-size: 1.75rem;
}

.reciclagem{ 
    width: 2.604vw;
    height: auto;
    margin-bottom: 0.625rem;
}

.titulo_caixa_mae_responsabilidade {
    text-align: left;
    align-items: flex-start;
    margin-bottom: 1.25rem;
}

.titulo_caixa_mae_responsabilidade p{
    color: #ffffff;
    margin-left: 2.5rem;
}

.responsabilidade {
    flex: 1;
    min-width: 1.563vw;
    margin-right: 0.625rem;
}

.iniciativas{
    margin-left: 2.5rem;
}

.box_responsabilidade {
    margin: 5% ;
    border-radius: 0.5rem;
    border:0.1rem solid #d9ae53;
    background-color: #050404;
    color:#ffffff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 0.9375rem;
    font-size: 1.5rem;
}

.box_responsabilidade h3{
    color: #d9ae53;
    margin-left: 2.5rem;
    font-size: 1.75rem;
}

.coluna_dupla {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.coracao{
    width: 2.604vw;
    height: auto;
    margin-bottom: 0.625rem;
}

.finalizacao {
    margin: 0.625rem;  
    border-radius: 0.5rem;
    border:0.1rem solid #d9ae53;
    background-color: #050404;
    color:#ffffff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 0.625rem;
}

.finalizacao h2{
    color:#d9ae53;
    display: flex;
    justify-content: left;
    font-size: 2rem;
}


footer{
    width: 100%;
    height: auto;
    color: #d9ae53;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vh;
    margin-top: 1%;
    align-items: center;
    border: 0.1rem solid #d9ae53;
    background-color: #050404;
}

.footer-content{
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
}

.footer-trofeu{
    width: 1.5vw;
    height: auto;
    margin-bottom: 0.625rem;
}

footer p{
    color: #ffffff;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

/*Responsividade*/

@media(max-width: 768px){
    .header-content{
        flex-direction: column;
    }
    .logoescudo{
        width: 15vw;
    }
    header h1{
        font-size: 1.8rem;
    }
    .formato, .prestigio{
        width: 45%;
    }
    .mundial{
        font-size: 1.5rem;
    }
    nav{
        height: auto;
        padding: 0.625rem 0;    
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
    }
    .janelas{
        flex-direction: column;
        align-items: center;
    }

    .formato, .prestigio, .historia{
        width: 90%;
        margin-bottom: 1.25rem;
    }

}

@media(max-width: 1489px ){

    .header-content{
        flex-direction: column;
    }
    .logoescudo{
        width: 15vw;
    }
    header h1{
        font-size: 1.8rem;
    }
    .formato, .prestigio{
        width: 45%;
    }
    .mundial{
        font-size: 1.5rem;
    }
    nav{
        height: auto;
        padding: 0.625rem 0;    
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
    }
    .janelas{
        flex-direction: column;
        align-items: center;
    }

    .formato, .prestigio, .historia{
        width: 90%;
        margin-bottom: 1.25rem;
    }
    .balao1, .balao2{
        width: 100%;
        margin-bottom: 0.625rem;
    }
}




@media (max-width: 768px) {
    .titulo_caixa_mae_normas,
    .titulo_caixa_mae_privacidade,
    .titulo_caixa_mae_responsabilidade {
        text-align: center;
        margin: 0.625rem auto;
    }

    .box_responsabilidade {
        width: 95%;
        margin: 0.625rem auto;
    }

    .finalizacao {
        width: 90%;
    }

    section, .compromisso {
        padding: 0.625rem;
    }

    .logoescudo {
        width: 20vw;
    }

    .caixas_conduta {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: auto;
    }

    .caixa_conduta {
        width: 90%;
    }

    .titulo_caixa_mae_normas {
        font-size: 1.5rem;
    }
}


@media (max-width: 344px) {
    .titulo_caixa_mae_responsabilidade {
        text-align: center;
        margin: 0.625rem auto;
        height: auto;
        width: 95%;
    }

    .box_responsabilidade {
        width: 90%;
        margin: auto;
        height: auto;
    }

    .finalizacao {
        width: 80%;
        height: auto;
    }
}


@media (max-width: 1200px) {
    .caixas_conduta {
        justify-content: center;
        gap: 1.875rem;
    }
    .box_normas {
        display: flex;
        justify-content: center;
        height: auto;
    }
}

@media (max-width: 853px) {
    .caixas_conduta {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .caixa_conduta {
        width: 100%;
    }

    .titulo_caixa_mae_normas {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .caixa_conduta {
        padding: 0.9375rem;
        font-size: 0.95rem;
    }

    .titulo_caixa_mae_normas {
        font-size: 1.3rem;
    }
}


@media (min-width: 1024px) {
    .caixas_privacidade {
        flex-direction: column;
        justify-content: flex-start;
        display: flex;
        text-align: left;
    }

    .box_privacidade {
        width: 90%; 
        margin: auto;
        height: auto;
        text-align: center;
        padding: 0.625rem;
    }
}


@media (max-width: 1023px) {
    .caixas_privacidade {
        flex-direction: column; 
    }

    .box_privacidade {
        width: 100%;
        margin: auto;
        height: auto;
        text-align: center;
        padding: 0.625rem;
    }
}


@media (max-width: 1535px) {
    .box_privacidade {
        text-align: center;
        margin: 0.625rem auto;
        height: auto;
        width: 90%;
    }
}
@media (max-width: 768px) {
    .header-content{
        flex-direction: column;
    }
    .logoescudo{
        width: 15vw;
    }
    header h1{
        font-size: 1.8rem;
    }

    main {
        margin: 0.9375rem;
    }

    .caixas_conduta,
    .caixas_privacidade,
    .coluna_dupla {
        flex-direction: column;
        gap: 1rem;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .box_normas,
    .box_privacidade,
    .responsabilidade {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .responsabilidade{
        flex-direction: column;
    }
    
    .box_responsabilidade {
        width: 45vw;
        font-size: 1rem;
        margin: 0.625rem auto;
        text-align: left;
    }
    
    .box_privacidade h2,
    .box_responsabilidade h3 {
        margin-left: 0;
        text-align: center;
    }

    .titulo_caixa_mae_normas,
    .titulo_caixa_mae_privacidade,
    .titulo_caixa_mae_responsabilidade,
    .finalizacao {
        width: 100%;
        text-align: center;
        margin: 0.625rem auto;
        padding: 0.625rem;
        
    }

    .alinhamento_norma,
    .alinhamento_privacidade,
    .alinhamento_responsabilidade,
    .alinhamento_coracao {
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
    }

    .titulo_caixa_mae_responsabilidade p,
    .titulo_caixa_mae_normas p,
    .titulo_caixa_mae_privacidade p {
        margin-left: 0.625rem;
        text-align: left;
    }

    .coluna_dupla {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row; /* <-- importante */
}

    .alinhamento_norma img,
    .alinhamento_privacidade img,
    .alinhamento_responsabilidade img,
    .alinhamento_coracao img {
        margin-left: 0;
        width: 8vw;
        height: 8vw;
    }

    .iniciativas {
        margin-left: 0;
        text-align: center;
    }

    .finalizacao h2 {
        justify-content: center;
        text-align: center;
    }

    nav ul li a {
        font-size: 1.1rem;
    }

    header h1,
    .mundial {
        width: 90%;
        font-size: 1.5rem;
        text-align: center;
    }

    .logoescudo {
        width: 25vw;
        height: auto;
    }
    .footer-trofeu{
    width: 5vw;
}

@media (max-width: 1024px) {
    .caixas_conduta {
        width: 50vw;
    }
}
}