@import url('https://fonts.cdnfonts.com/css/montserrat');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #141414 !important;
}
header{
    width: 100%;
    min-height:15vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d9ae53;    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: solid #d9ae53;
    background-color: #050404;
    padding: 2vh;
    font-size: 2.5rem;
    margin-bottom: 0.5vh;
}
.logo img{
    position: absolute;
    left: 22%;
    }
.logoescudo{
    width: 8vw;
    height: auto;
    display: flex;
    justify-content: center;
    }
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mundial {
    color: white; /* Ajuste da cor para branco */
    font-size: 2rem;
}
img{
    width: 4vh;
    height: auto;
}
nav {
    width: 97%;
    height: 7vh;
    margin-top: 1%;
    padding: 3vh 7vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    border-radius: 8px;
    border:solid #d9ae53;
    background-color: #050404;
    }

ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    flex-direction:row;
    gap: 4vw;
}
li{
    display: flex;
    align-items: center;
}
a{
    font-size: 1.3rem;
    font-weight: bold;
}
nav ul li a {
    text-decoration: none;/* Remove sublinhado */
    color:#d9ae53;
    transition: color 0.3s ease-in-out;} /* Efeito suave */

nav ul li a:hover {
    color: #f3b229; /* Cor ao passar o mouse */
}



footer{
    width: 100%;
    height: 12vh;
    border:solid #d9ae53;
    background-color: #050404;
    color:#d9ae53;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2vh;
}
footer img{
    width: 2vw;
    height: 4vh;
    position: absolute;
    left: 35%;
    top:126%; 
}
footer p{
    color: #ffffff;
}