@import url('https://fonts.cdnfonts.com/css/montserrat');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #141414 !important;
    color: #ffffff;
}
.espacamento{
    margin: 30px;
}
main{margin: 30px;}

header{
    border: solid #003B5C;
    background-color: #050404;
    text-align: center;
    padding: 5px; 
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.logo{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5vh;
}

.logoescudo{
    width: 7vw;
    height: auto;
    margin-right: 10px;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

header h1{
    font-size: 2.5rem;
    color: #003B5C;
}

.mundial {
    color: #ffffff; /* Ajuste da cor para branco */
    font-size: 2rem;
}

nav {
    
    margin: 1% auto;
    border: solid #003B5C;
    background-color: #050404;
    border-radius: 8px;
    padding: 15px 0;
    }

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
    gap: 4vw;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li img{
    width: 30px;
    height: auto;
    margin-right: 5px;
}

nav ul li a{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: #003B5C;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover{
    color:#f3b229 ;
}
.inicio_auckland{
    width: 100%;
    border: #003B5C solid;
    background-color: #050404;
    border-radius: 8px;
    color: #003B5C;
    margin-top: 1%;
}
.inicio_auckland p{
    width: 90%;
    color: #ffffff;
}
.inicio_auckland button{
    color: #003B5C;
    background-color: #141414;
    border: solid #003B5C; 
    border-radius: 8px;;
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    justify-content: center;    
    width: 150px;
    height: 50px;
    font-size: 25px;
    gap: 10px;
}
.inicio_auckland button:hover{
    background-color: #ffffff;
    color: #050404;
}
.button_h1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}
.escudo_auckland{
    width: 200px;
    height: 200px;    
}

.titulo_auckland{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: aquamarine;
}
.titulo_auckland h1{
    font-size: 2.5rem;
    color: #ffffff;
}
.alinhar_icones{
    display: flex;
    flex-direction: row;
    align-items: center;;
    gap: 10px;
    background-color: aqua;
    ;
}

.alinhar_icones img{
width: 30px;
height: 30px;
}

.imagens{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.jogadores{
    border-radius: 8px;
    border:solid #003B5C;
    background-color: #050404;
    color: #ffffff;
}   
.jogadores img, .historia img, .conquistas img, .curiosidades img, .alinhar_icones_galeria img{
    width: 20px;
    height: auto;
    margin-right: 10px;
}
.alinhar_icones_historia, .alinhar_icones_conquistas, .alinhar_icones_curiosidades, .alinhar_icones_jogadores, .alinhar_icones_galeria{
    display: flex;
    flex-direction: row;
}

.conquistas{
    margin: 1% auto;
    border-radius: 8px;
    border:solid #003B5C;
    background-color: #050404;
    color:#ffffff;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 15px;;
}   

.curiosidades{
    margin: 1% auto;
    border-radius: 8px;
    border:solid #003B5C;
    background-color: #050404;
    color:#ffffff;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 15px;
}

.historia{
    margin: 1% auto;
    border-radius: 8px;
    border:solid #003B5C;
    background-color: rgb(54, 24, 24);
    color:#003B5C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}
.historia p{
    color: #ffffff;
    width: 90%;
}
.galeria{
    margin: 1% auto;
    border-radius: 8px;
    border:solid #003B5C;
    background-color: #050404;
    color:#003B5C;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}
.galeria h2{
    color: #ffffff;
}

.img_galeria1, .img_galeria2, .img_galeria3{
    width: 100px;
    height: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}
footer{
    width: 100%;
    height: auto;
    color: #003B5C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vh;
    margin-top: 1%;
    align-items: center;
    border: solid #003B5C;
    background-color: #050404;
}

.footer-content{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.footer-trofeu{
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

footer p{
    color: #ffffff;
    text-align: center;
}

/*Responsividade*/

@media(max-width: 768px){
    .header-content{
        flex-direction: column;
    }
    .logoescudo{
        width: 15vw;
    }
    header h1{
        font-size: 1.8rem;
    }
    .formato, .prestigio{
        width: 45%;
    }
    .mundial{
        font-size: 1.5rem;
    }
    nav{
        height: auto;
        padding: 10px 0;    
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .janelas{
        flex-direction: column;
        align-items: center;
    }

    .formato, .prestigio, .historia{
        width: 90%;
        margin-bottom: 20px;
    }

}
@media(max-width: 1489px ){
    .header-content{
        flex-direction: column;
    }
    .logoescudo{
        width: 15vw;
    }
    header h1{
        font-size: 1.8rem;
    }
    .formato, .prestigio{
        width: 45%;
    }
    .mundial{
        font-size: 1.5rem;
    }
    nav{
        height: auto;
        padding: 10px 0;    
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .janelas{
        flex-direction: column;
        align-items: center;
    }

    .formato, .prestigio, .historia{
        width: 90%;
        margin-bottom: 20px;
    }
    .balao1, .balao2{
        width: 100%;
        margin-bottom: 10px;
    }


}