* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    min-height:15vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d9ae53;    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: solid #d9ae53;
    background-color: #050404;
    padding: 2vh;
    font-size: 2.5rem;
    margin-bottom: 0.5vh;
}
.logoescudo{
    width: 8vw;
    height: auto;
    }
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mundial {
    color: white; /* Ajuste da cor para branco */
    font-size: 2rem;
}
img{
    width: 4vh;
    height: auto;
}
nav {
    width: 97%;
    height: 7vh;
    margin-top: 1%;
    padding: 3vh 7vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    border-radius: 8px;
    border:solid #d9ae53;
    background-color: #050404;
    }

ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    flex-direction:row;
    gap: 4vw;
}
li{
    display: flex;
    align-items: center;
}
a{
    font-size: 1.3rem;
    font-weight: bold;
}
nav ul li a {
    text-decoration: none;/* Remove sublinhado */
    color:#d9ae53;
    transition: color 0.3s ease-in-out;} /* Efeito suave */

nav ul li a:hover {
    color: #e8be50; /* Cor ao passar o mouse */
}
section{
    width: 95%;
    height: 20vh;
    margin: 1% auto;
    border-radius: 8px;
    border:solid #d9ae53;
    background-color: #050404;
    color:#d9ae53;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
section p{
    width: 50%;
}
.inicio{
    width: 95%;
    height: 22vh;
    margin: 1% auto;
    border-radius: 8px;
    border:solid #d9ae53;
    background-color: #050404;
    color:#d9ae53;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.inicio p{
    width: 50%;
}

.janelas{
    margin-top: 1% ;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.formato{
    width: 48%;
    height: 25vh;
    border-radius: 8px;
    border:solid #d9ae53;
    background-color: #050404;
    color:#d9ae53;
}
.prestigio{
    width: 45%;
    height: 25vh;
    border-radius: 8px;
    border:solid #d9ae53;
    background-color: #050404;
    color:#d9ae53;
}

.historia{
    width: 95%;
    height: 22vh;
    margin: 1% auto;
    border-radius: 8px;
    border:solid #d9ae53;
    background-color: #050404;
    color:#d9ae53;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer{
    width: 100%;
    height: 20vh;
    border:solid #d9ae53;
    background-color: #050404;
    color:#d9ae53;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2vh;
}
footer img{
    width: 2vw;
    height: 4vh; 
}